albumentations==1.1.0
coremltools==5.2.0
ipython==8.3.0
mtcnn==0.1.1
numpy==1.21.4
onnx==1.11.0
onnxruntime==1.11.1
opencv_contrib_python==4.5.5.64
openvino==2022.1.0
pafy==0.5.5
pandas==1.4.2
Pillow==9.1.1
protobuf==3.20.1
psutil==5.9.1
PyYAML==6.0
requests==2.26.0
setuptools==44.0.0
tensorflow==2.9.0
tensorflow_gpu==2.8.0
tensorflowjs==3.17.0
tensorrt==0.0.1.dev5
tflite_runtime==2.8.0
thop==0.0.31-2005241907
torch==1.10.1
torchvision==0.11.2
tqdm==4.62.3
train==0.0.5
